<div id="header">

<div id="myNavbar" class="navbar">
<button ng-click="navOpen()" id="X-button" type="button" name="button">X</button>
  <li class="nav-item"><a href="#login">Login</a></li>
  <li class="nav-item"><a href="#local">Local</a></li>
  <li class="nav-item"><a href="#artist">Artist</a></li>
  <li class="nav-item"><a href="#venue">Venue</a></li>
  <li class="nav-item"><a href="#profile">Profile</a></li>
  <li class="nav-item"><a href="#about">About</a></li>
</div>
</div>
<button ng-click="navOpen()" id="tab" type="button" name="button">></button>

<main>

<section id="landing" name='landing'>

  <div id="title-con">
    <h2><img src="../styles/assets/greenmetal.png" style="height: 30px"alt=""> ROCKSHOWZ</h2>
      <!-- <button ng-click="navOpen()" type="button" name="button"></button> -->
  </div>
  <div class="down-tab">
    <a ng-click="down()" class="down"><i class="fas fa-angle-double-down"></i></a>
  </div>
</section>
<section id="login" name='login'>

  <div class="section-body">
    <h2>Login</h2>
  </div>

</section>
<section id="local" name='local'>

  <div class="section-body">
    <h2>Local</h2>
  </div>

</section>
<section id="artist" name='artist'>

  <div class="section-body">
    <h2>Local</h2>
  </div>

</section>
<section id="venue" name='venue'>

  <div class="section-body">
    <h2>Local</h2>
  </div>

</section>
<section id="profile" name='profile'>

  <div class="section-body">
    <h2>Local</h2>
  </div>

</section>
<section id="about" name='about'>

  <div class="section-body">
    <h2>Local</h2>
  </div>

</section>

</main>
