*{

}
body {
  margin: 0;
  padding: 0;

}

html {
  height: 100%;
  width: 100%;
}

html, body, h1, h2, img, header, footer {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color: white; 

}

/* main.html page css */
.bandimg {
  height: auto;
  width: auto;
  float: right;
}
.row{
  display: flex;
  justify-content: center;
  align-content: center
}
.button-primary{
   border-radius: 35px;
   background-color: #4c9014; 
   color: black;
    
}
#header{
  display: flex;
  margin-left: 33.33%;
  margin-right: 33.333%;
  padding-top: 33.5rem;
  justify-content: center;
  /* align-content: center; */
  /* border: 5px solid yellow; */
}
.title{
  font-size:7rem;
  /* background-image: url(./img/metal_music_filled1600.png); */
 
}
#header h1 {
  color: black;
}
#header img{
  color: black;
}
#box1{
  height: 100vh;
  width: 100%;
  background-color: #e8e9ea;
  background-size: cover;

}
#box2{
  height: 100vh;
  width: 100%;
  background-image: url(./img/felix-russell-saw-128881.jpg);
  background-size: cover;
  
}
#box3{
  height: 100vh;
  width: 100%;
  background-image: url(./img/bill-hamway-272424.jpg);
  background-size: cover;
  
}
.artist-title{
  display: flex;
  justify-content: center;
  align-content: center;

}
.container h1{
  color: black;
}
.band{
  border-radius: 35px;
}
.submit{ 
  border-radius: 35px;
  background-color: #4c9014; 
}
.location {
  border-radius: 35px;
  background-color: #4c9014; 
}
.venues{
  display: flex;
  justify-content: center;
  align-content: center;  
  border-radius: 35px;
}
.events{
  border-radius: 35px;
}
