*{

}

html {
  height: 100%;
  width: 100%;
}

html, body, h1, h2, img, header, footer {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;

}
header {
  height: 75px;
  width: 100%;
  display: flex;
  /*display: none;*/
  flex-direction: row;
}

/* main.html page css */
.bandimg {
  height: auto;
  width: auto;
  float: right;
}

.row {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: auto;
}
.row a {
  text-decoration: none;
  margin: 40px 50px
}
.button-primary{
  border-radius: 35px;
  /* background-color: #4c9014;  */
}

.band {
  border-radius: 35px;
  color: white;
}

.shows {
  color: white;
}
.submit{
  border-radius: 35px;
}

.location {
  border-radius: 35px;
}

.events{
}

#one {
  height: 1100px;
  width: 100%;
  border-bottom: 1px solid black;
  background: url("./img/blueconcert.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#two {
  height: 1100px;
  width: 100%;
  border-bottom: 1px solid black;
  background: url("./img/greenconcert.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
  color: white;
  text-align: center;
}

#three {
  height: 1100px;
  width: 100%;
  border-bottom: 1px solid black;
  background: url("./img/redconcert.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#four {
  height: 1100px;
  width: 100%;
  border-bottom: 1px solid black;
  background: url("./img/yellowconcert.jpg");
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

.search {
  height: 100px;
  width: 500px;
  position: relative;
  margin: auto;
  top: 400px;
  background: black;
  opacity: .9
}
