*{

}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
  width: 100%;
}

html, body, h1, h2, img, header, footer {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;

}
header {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* main.html page css */
.bandimg {
  height: auto;
  width: auto;
  float: right;
}

.row{
  display: flex;
  justify-content: center;
  align-content: center;
}
.button-primary{
   border-radius: 35px;
   background-color: #4c9014;
   color: black;

}
#header{
  display: flex;
  margin-left: 33.33%;
  margin-right: 33.333%;
  padding-top: 33.5rem;
  justify-content: center;

}
.title{
  font-size:7rem;
}

#header h1 {
  color: black;
}
#header img{
  color: black;
}
#box1{
  height: 100vh;
  width: 100%;
  background-color: #e8e9ea;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#box2{
  height: 100vh;
  width: 100%;
  background-image: url(./img/blueconcert.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  color: white;
  border-bottom: 2px solid black;
}

#box3{
  height: 100vh;
  width: 100%;
  background-image: url(./img/redconcert.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  color: white;
  border-bottom: 2px solid black;
}

#box4{
  height: 100vh;
  width: 100%;
  background-image: url(./img/greenconcert.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  color: white;
  border-bottom: 2px solid black;
}

#box5{
  height: 100vh;
  width: 100%;
  background-image: url(./img/yellowconcert.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  color: white
}

.local {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white
}
.artist-title{
  display: flex;
  justify-content: center;
  align-content: center;
  color: white
}
.container h1{
  color: black;
}
.band{
  border-radius: 35px;
  color: black;
}

.shows {
  color: black;
}
.submit{
  border-radius: 35px;
  background-color: #4c9014;
  color: white;
  margin-left: 25px
}
.location {
  border-radius: 35px;
  background-color: #4c9014;
  color: white
}
.venues {
  height: auto;
  width: 200px;
  display: flex;
  margin: auto;
  margin-top: 100px;
  justify-content: center;
  border-radius: 35px;
  color: white
}
.events {
  height: auto;
  border-radius: 35px;
  color: black;
  background-color: #e8e9ea
}

.eventsearch {
  height: 30px;
  width: 400px;
  margin-top: 100px;
  position: relative;
}

.bandpop {
  height: 300px;
  width: 600px;
  background-color: #e8e9ea;
  color: black;
  position: relative;
  border-radius: 25px;
  border: 1px solid black;
  top: 100px;
  left: 300px;
}

.venuepop {
  height: 300px;
  width: 600px;
  background-color: #e8e9ea;
  color: black;
  position: relative;
  border-radius: 25px;
  border: 1px solid black;
  top: 100px;
  left: 300px;
}

.matches {
  height: 25px;
  width: 300px;
  margin: 15px auto;
  color: black;
  background-color: #4c9014;
  border: 1px solid black;
}
