*{

}
body {
  position: relative;
  margin: 0;
  padding: 0;

}

html {
  height: 100%;
  width: 100%;
}

html, body, h1, h2, img, header, footer, a {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;

}
ul {
  list-style-type: none;
  margin: 0; 
  padding-left: 10px;
  max-width: 150px;
  
}
li {
  padding-top: 1rem;
}
li a {
    display: block;  
    /* float: left;   */

}
header {
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* main.html page css */
.navbar{
  display: flex;
  position: fixed;
  opacity: .9;
  background-color: #606061;
  /* flex-direction: ; */
}
.navbar-inverse{
  
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}
.bandimg {
  height: auto;
  width: auto;
  float: right;
}
.row{
  display: flex;
  justify-content: center;
  align-content: center;
}
.button-primary{
   border-radius: 35px;
   background-color: #4c9014;
   color: black;
}
#header{
  display: flex;
  margin-left: 33.33%;
  margin-right: 33.333%;
  padding-top: 33.5rem;
  justify-content: center;
}
.title{
  font-size:7rem;
}
#header h1 {
  color: black;
}
#header img{
  color: black;
}
.artist-title{
  display: flex;
  justify-content: center;
  align-content: center;
  color: white
}
.container h1{
  color: black;
}
.band{
  border-radius: 35px;
  color: black;
}
.shows {
  color: black;
}
.submit{
  border-radius: 35px;
  background-color: #4c9014;
  color: white
}
.location {
  border-radius: 35px;
  background-color: #4c9014;
  color: white
}
.venues{
  display: flex;
  margin: auto;
  top: 100px;
  justify-content: center;
  border-radius: 35px;
  color: white
}
.events{
  height: auto;
  width: 300px;
  border-radius: 35px;
  color: black;
  background-color: #e8e9ea
}

.bandpop {
  height: 100px;
  width: 200px;
  background-color: black;
  position: absolute;
  top: 100px;
  left: 300px;
}


#home{
  height: 100vh;
  width: 100%;
  background-color: #e8e9ea;
  background-size: cover;
  display: table;
  background-attachment: fixed;
}

#local{
  height: 100vh;
  width: 100%;
  background-image: url(./img/blueconcert.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  color: white
}

#artist{
  height: 100vh;
  width: 100%;
  background-image: url(./img/greenconcert.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  color: white
}

#venues{
  height: 100vh;
  width: 100%;
  background-image: url(./img/redconcert.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  color: white
}

#box5{
  height: 100vh;
  width: 100%;
  background-image: url(./img/yellowconcert.jpg);
  background-size: cover;
  display: table;
  background-attachment: fixed;
  color: white
}

